*{
  margin: 0px;
  padding: 0px;
}
body{

  background-color:#FFFFFF;
  margin: 5px 1px 10px 2px;
}
.logo{
  padding:0px;
  margin: 0px;

}
.headings{
  font-size: 15px;
}
.header{
  text-decoration:inherit;
  color: #FFFFFF;
  font-weight: 150;
  font-size: 30px;
  text-decoration-color: #FFFFFF;
  background-color: #211545;
  text-decoration: none;
  font-family: courier;
  margin-top: 40px;
}
.sub-header{
  text-decoration:inherit;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  text-decoration:underline;
  font-family: sans-serif;
  margin-top: 40px;
  margin-bottom: 20px;
}
p{
  margin-left: 15px;
  margin-right: 2px;
  margin-bottom: 20px;
  font-style: arial;
  line-height: 1;
  word-break: keep-all;
  letter-spacing: 0.6px;
  font-size: 20px;
}
li{
  font-style: courier;
  line-height: 1;
  word-break: keep-all;
  letter-spacing: 0.6px;
  font-size: 18px;
  margin-left: 40px;
}
iframe{
  width:-webkit-fill-available;
  height: 300px;
  margin: 20px 10px 10px 10px;

}
.topnav {
  background-color:  #640B17;
  overflow: hidden;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 8px 8px;
  text-decoration: none;
  font-size: 14px;
}

.topnav a:hover {
  background-color:#ECF0F1;
  color: black;
}
input#search{
  width: 200px;
  height: 24px;
  margin-top: 2px;
  margin-left: 120px;

}
button{
  width: 60px;
  height: 24px;
  margin-left:0px;
  margin-top: 2px;
}

.sidenav {
  height: auto;
  position: absolute;
  z-index: 1;
  top: 160px;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.4s;
  padding-top: 40px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #ECF0F1;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color:black;
}
.sidenav .closebtn:hover {
  color: black;
  font-weight: bolder;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.mainmenu, .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mainmenu a {
  display: block;
  font-family: verdana;
  background-color: #CCC;
  text-decoration: none;
  padding: 10px;
  color: #000;
}
.mainmenu a:hover {
  color: black;
  font-weight: bolder;
  background-color:#99A3A4;
}


.mainmenu li:hover .submenu {
  display: block;
  max-height: 200px;
}


.submenu a {
  font-family: garamond;
  background-color: #640B17;
  color: white;
  margin-left: 10px;
}


.submenu a:hover {
  color: white;
  background-color: #640B17;
}

.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}
.mainmenu li{
  border-top:1px solid #fff;
  margin-left: 0px;
}





.title{
    text-align: center;
    font-size: 40px;
    color: #6a6a6a;
    margin-top: 100px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;

}
.back.a{
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}
.back.a:hover {
  background-color: #ddd;
  color: black;
}

.Back {
  background: #211545;
  color: white;
  margin:50px;
}

a{
  text-decoration: none;
  outline: none;

}

.footer-main{
  padding-top: 10px;
  margin-top: 190px;
  height: 30%;
  width: 100%;
  background:#211545;
  color: white;
  text-align: center;

}

.footer-social-icons{

  width:100%;
  height: auto;
  margin: auto;
}

.footer-social-icons ul{
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.footer-social-icons ul li{
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 13px 10px;
  border-radius: 100%;
  background: white;
}

.footer-social-icons ul li a{
  color: #272727;
  font-size: 35px;
}

.footer-social-icons ul li a i{
  line- height: 50px;
}

.footer-menu-one{
  width:100%;
  height:auto;
  margin:auto;
  margin-top: 25px;
}

.footer-menu-one ul{
  margin: 0px;
  padding:0px;
  text-align: center;
}

.footer-menu-one ul li{
  display:inline-block;
  margin: 0px 15px;
}

.footer-menu-one ul li a{
  font-family: arial;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer-menu-one ul li a:hover{
  color:#32CD32;
}

.footer-menu-two{
  width:100%;
  height:auto;
  margin:auto;
  margin-top: 20px;
}

.footer-menu-two ul{
  margin: 0px;
  padding:0px;
  text-align: center;
}

.footer-menu-two ul li{
  display:inline-block;
  margin: 0px 15px;
}

.footer-menu-two ul li a{
  font-family: arial;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.footer-menu-two ul li a:hover{
  color:#32CD32;
}

.footer-bottom{

  width:100%;
  height:auto;
  margin:auto;
  background: #640B17;
  padding :5px;
  text-align: center;
  letter-spacing: 1px;

}

.footer-bottom p a{
  color: #fff;

}

.footer-bottom p a:hover{
  font-weight: bolder;

}
